<div class="ribbon">
	<div class="page-title">{{'user' | translate}}</div>
</div>
<div *ngIf="model" class="card">
	<div class="card-body">
		<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'access.right' | translate}}</label>
				<div class="col-sm-4">
					<select class="form-control" [(ngModel)]="model.role" name="idRole" required [disabled]="mySelf">
							  <option value=""></option>
						<option *ngFor="let item of lstRole" [value]="item.name">{{item.name}}</option>
					</select>
					<span *ngIf="formErrors.idRole" class="validation-message">{{ formErrors.idRole.key | translate:formErrors.idRole.param}}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'user.name' | translate}}</label>
				<div class="col-sm-4">
					<input class="form-control" [(ngModel)]="model.username" name="username" required maxlength="255" minlength="4" [disabled]="!insertMode">
					<span *ngIf="formErrors.username" class="validation-message">{{ formErrors.username.key | translate:formErrors.username.param }}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'email' | translate}}</label>
				<div class="col-sm-4">
					<input class="form-control" [(ngModel)]="model.email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" maxlength="255" required>
					<span *ngIf="formErrors.email" class="validation-message">{{ formErrors.email.key | translate:formErrors.email.param }}</span>
				</div>
			</div>
			<hr>
			<div *ngIf="!insertMode" class="form-group">
				<span class="label label-info">{{'leave.password.empty' | translate}}</span>
				<br>
				<span *ngIf="model.username == 'hellocountry'" class="label label-info"><span style="color:red;">* </span>{{'hellocountry.user.cannot.change.the.password' | translate}}</span>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'password' | translate}}</label>
				<div class="col-sm-4">
					<input [disabled]="model.username == 'hellocountry'" type="password" class="form-control" [(ngModel)]="model.password" name="password" [required]="insertMode" maxlength="25" minlength="4">
					<span *ngIf="formErrors.password" class="validation-message">{{ formErrors.password.key | translate:formErrors.password.param}}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'retype.password' | translate}}</label>
				<div class="col-sm-4">
					<input [disabled]="model.username == 'hellocountry'" type="password" class="form-control" [(ngModel)]="password2" name="password2" [required]="insertMode" maxlength="25" minlength="4">
					<span *ngIf="formErrors.password2" class="validation-message">{{ formErrors.password2.key | translate:formErrors.password2.param}}</span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10 offset-sm-2">
					<button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
					<a *ngIf="!profileMode" class="btn btn-default ml-2" routerLink="../">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>