<div class="inline">
	<div  class="dropdown">
		<button class="dropdown-toggle" (click)="toggleOpen()"><i class="fa fa-gear"></i>
		</button>
		<div #divDropdown class="dropdown-menu">

			<div *ngIf="savedColumns" class="pnlTableConfig" style="display: inline-block;">
				<div>
					<div class="pull-left" >
						<label><input type="checkbox" (click)="toggleAll()" [checked]="allChecked"> Show All</label>
						<a [style.visibility]="!selected || selected == savedColumns[savedColumns.length - 1] ? 'hidden': ''" (click)="down()" class="pull-right"><i class="fa fa-arrow-down"></i></a>
						<a [style.visibility]="!selected || selected == savedColumns[0] ? 'hidden': ''" (click)="up()" class="pull-right"><i class="fa fa-arrow-up"></i>&nbsp;</a>
						<ul class="list-column">
							<li *ngFor="let clm of savedColumns; let rowNum=index" [class.selected]="selected == clm" (click)="selected = clm">
								<input type="checkbox" (click)="toggle(rowNum)" [checked]="clm.visible">
								<label>{{clm.name}}&nbsp;</label>
							</li>
						</ul>
					</div>
					<div *ngIf="srvMasterData" class="pull-left">
						<label>Template</label>
						<table>
							<tbody>
								<tr *ngFor="let us of lstTemplate;">
									<td><label class="" (click)="loadTemplate(us.name)">{{us.name}}</label></td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="pull-right" (click)="removeTemplate(us.name)" title="Remove template"><i class="fa fa-remove text-danger"></i></label></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="btn-group" role="group" >
					<a (click)="toggleOpen()" class="btn btn-default">{{'close' | translate }}</a>
					<a *ngIf="srvMasterData" (click)="saveDialogShow = true" class="btn btn-default">{{'save.template' | translate }}</a>
					<a (click)="reset()" class="btn btn-default">Reset</a>
				</div>
			</div>
		</div>
	</div>
</div>
<b-dialog title="{{'delete.template' | translate}}" [(shown)]="deleteDialogShow" (closed)="deleteDialogClosed()" [type]="'confirmation'">
	<div class="modal-body">
		<p innerHTML="{{'delete.confirmation' | translate}}"></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="deleteDialogAnswer('yes')">{{'yes' | translate }}</button>
		<button type="button" class="btn btn-default" (click)="deleteDialogAnswer('no')">{{'no' | translate }}</button>
	</div>
</b-dialog>

<b-dialog title="{{'save.template' | translate }}" [(shown)]="saveDialogShow" (closed)="saveDialogClosed()" [type]="'confirmation'">
	<div class="modal-body">
		{{'template.name' | translate }} <input  [(ngModel)]="templateName" maxlength="10">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="saveDialogAnswer('save')">{{'save'| translate}}</button>
		<button type="button" class="btn btn-default" (click)="saveDialogAnswer('cancel')">{{'cancel' | translate }}</button>
	</div>
</b-dialog>