@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import 'styles-variables';
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

::-webkit-scrollbar-track
{

	background-color:transparent;
}

::-webkit-scrollbar
{
	width:5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {

	background-color:#a0a0a0;
}

html, body, div {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

body {
	min-width: 950px;
	scrollbar-face-color:#a0a0a0;
	scrollbar-track-color:transparent;
}

.col-form-label {
	text-align: right;
}

.datatable-body-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.datatable-body-cell, .datatable-header-cell {
	border-right: 1px solid rgba(0, 0, 0, 0.12);
	padding: .3rem 0.5rem !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
	background-color: #e5eaf6 !important;
}

.number-align{
	text-align: right !important;
}

.validation-message {
	position: absolute;
	color: #a94442;
	font-size: 80%;
	z-index: 1;
	top: 6px;
	right: 25px;
}

.ng-valid.required,.ng-valid[required] {
	border-left: 5px solid #42a948
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442
}

a i.toggle-expand:before {
	content: "\F066";}

a.collapsed i.toggle-expand:before {
	content: "\F065";
}

a i.toggle-expand2:before {
	content: "\f147";
}

a.collapsed i.toggle-expand2:before {
	content: "\f196";
}

.ribbon {
	padding: .5rem 1rem;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
	margin: 0 -1rem 1rem -1rem;
}

.page-title {
	font-size: 1rem;
	font-weight: 700;
	/*color: #39abdd;*/
}

.card {
	/*box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);*/
	box-shadow: 1px 2px 5px #888;
}

.ngx-datatable.material {
	box-shadow: none !important;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

/*.hoverDiv {background: #fff;}*/
.hoverDiv:hover {background: #f5f5f5;}

.btn.active, .btn:active {
	outline: 0; 
	background-image: none; 
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); 
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125); 
}

.btn-default {
	/*padding: 4px 12px;*/
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e6e6e6));
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-default.focus,.btn-default:focus {
	background-color: #e6e5e5;
	border-color: #8c8c8c
}

.btn-default.active,.btn-default:active,.btn-default:hover,.open>.btn-default.dropdown-toggle {
	background-color: #e6e5e5;
	border-color: #adadad
}

.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.btn-default.dropdown-toggle.focus,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle:hover {
	background-color: #d4d4d4;
	border-color: #8c8c8c
}

.cdk-overlay-container {
	position: fixed;
	z-index: 1000;
}
overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1;
}
.cdk-overlay-dark-backdrop {
	background: rgba(0,0,0,.288);
}
.cdk-overlay-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition: opacity .4s cubic-bezier(.25,.8,.25,1);
	opacity: 0;
}
.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000;
}
.cdk-global-overlay-wrapper, 
.cdk-overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.cdk-overlay-pane {
	position: absolute;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1000;
	display: flex;
	max-width: 100%;
	max-height: 100%;
}
.mat-dialog-container {
	box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
	display: block;
	padding: 24px;
	border-radius: 2px;
	box-sizing: border-box;
	overflow: auto;
	outline: 0;
	width: 100%;
	height: 100%;
	min-height: inherit;
	max-height: inherit;
}
.mat-dialog-container {
	background: #fff;
	color: rgba(0,0,0,.87);
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	min-width: 88px;
	line-height: 36px;
	padding: 0 16px;
	border-radius: 2px;
	overflow: visible;
}
.mat-button, .mat-icon-button, .mat-stroked-button {
	color: inherit;
	background: 0 0;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.mat-button:hover {
	background:inherit; 
}
.mat-datepicker-content .mat-calendar {
	width: 296px;
	height: 354px;
	background-color: whitesmoke;
}
.mat-calendar-body-selected {
	background-color: #3cacde;
	color: #fff;
}

.search-cue {
	font-size: 0.8rem;
	background-color: rgba(0,0,0,0.1);
	padding: 0 5px;
	border-radius: 2px;
}

.card-header {
	border-bottom: none;
}
.card-body {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}