<div id="pnlBackground"></div>
<div class="slim-loading-bar">
	<div class="slim-loading-bar-progress" [style.width]="loadingProgress + '%'" [style.opacity]="show ? '1' : '0'"></div>
</div>
<div id="home-root" [class.sidebar-toggled]="minified">
	<nav class="navbar navbar-expand navbar-light bg-light static-top">
		<a class="navbar-brand" href="index.html">
			<img src="assets/world-flags.png" height="40" class="logo">
			Countries
		</a>

		<button class="btn btn-link btn-sm order-1 order-sm-0 white-text-shadow" (click)="toggleMenu()">
			<i class="fa fa-bars"></i>
		</button>

		<!-- Navbar Search -->
		<div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

		</div>

		<!-- Navbar -->

		<ul style="margin-top: -7px;margin-right: 24px;margin-bottom: -7px;" class="navbar-nav ml-auto ml-md-0">
			<li class="nav-item dropdown no-arrow">
				<a class="dropdown-toggle white-text-shadow" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user-circle fa-fw"></i> {{username}}
					<br><i><span style="font-size: 12px; margin-left: 24px;">{{role}}</span></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
					<a class="dropdown-item" routerLink="user/{{userId}}" [queryParams]="{mode: 'profile'}"><i class="fa fa-user fa-fw"></i> {{'user.profile' | translate}}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> {{'logout' | translate}}</a>
				</div>
			</li>
			<li class="nav-item dropdown no-arrow ml-3">
				<a class="dropdown-toggle white-text-shadow" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
					<i class="img fa fa-language fa-lw"></i> {{lang.toUpperCase()}}
				</a>
				<ul class="dropdown-menu dropdown-menu-right lang-dropdown" aria-labelledby="langDropdown">
					<a class="dropdown-item" (click)="changeLanguage('en')"><i [style.visibility]="lang === 'id' ? 'hidden': ''"  class="fa fa-check" aria-hidden="true"></i> EN </a>
					<a class="dropdown-item" (click)="changeLanguage('id')"><i [style.visibility]="lang === 'en' ? 'hidden': ''" class="fa fa-check" aria-hidden="true"></i> ID </a>
				</ul>
			</li>
		</ul>

	</nav>
	<ul id="pnlSideMenu" class="sidebar navbar-nav" [class.toggled]="minified">
		<li class="nav-item">
			<a class="nav-link px-2" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-dashboard fa-fw"></i> <span class="sidebar-label"> {{'dashboard' | translate}}</span></a>
		</li>
		
		<li *ngIf="canReadCountry || canMaintainCountry" class="nav-item">
			<a class="nav-link px-2" routerLink="country/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-globe fa-fw"></i> <span class="sidebar-label"> {{'country' | translate}}</span></a>
		</li>
		
		<li *ngIf="canReadCity || canMaintainCity" class="nav-item">
			<a class="nav-link px-2" routerLink="city/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-map-marker fa-fw"></i> <span class="sidebar-label"> {{'city' | translate}}</span></a>
		</li>
		<li *ngIf="canReadCity || canMaintainCity" class="nav-item">
			<a class="nav-link px-2" routerLink="school/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-university fa-fw"></i> <span class="sidebar-label"> {{'school' | translate}}</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link px-2" routerLink="util/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa  fa-tasks fa-fw"></i> <span class="sidebar-label"> {{'utility' | translate}}</span></a>
		</li>
		<li class="nav-item">
		</li>
		<li *ngIf="canReadUser || canReadRole" class="nav-item dropdown">
			<a class="nav-link px-2 collapsed" href="#" (click)="menuClicked($event)">
				<i class="fa fa-address-book fa-fw"></i> <span class="sidebar-label"> {{'management' | translate}} </span>
			</a>
			<ul class="nav nav-second-level collapse">
				<li *ngIf="canReadUser" class="dropdown-item" >
					<a routerLink="user/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link px-2">{{'user' | translate}}</a>
				</li>
				<li *ngIf="canReadRole" class="dropdown-item" >
					<a routerLink="role/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link px-2">{{'role' | translate}}</a>
				</li>
			</ul>
		</li>
	</ul>
	<div id="page-wrapper">
		<router-outlet></router-outlet>
	</div>
	<b-alert *ngIf="message" [message]="message" (closed)="alertClosed()"></b-alert>
	<b-dialog [title]="dlgTitle" [(shown)]="dlgShow" (closed)="dialogClosed()" [type]="dlgType">
		<div class="modal-body">
			<p [innerHTML]="dlgMessage"></p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" (click)="dialogAnswer('yes')">{{dlgYesOkLabel}}</button>
			<button *ngIf="dlgNoLabel" type="button" class="btn btn-default" (click)="dialogAnswer('no')">{{dlgNoLabel}}</button>
			<button *ngIf="dlgCancelLabel" type="button" class="btn btn-default" (click)="dialogAnswer('cancel')">{{dlgCancelLabel}}</button>
		</div>
	</b-dialog>
</div>