<div class="modal-content">
	<div class="modal-header"><h4 class="modal-title"> {{'country'| translate}}</h4></div>
	<form  #myForm="ngForm">
		<div *ngIf="model" class="modal-body">
			<!--<div *ngIf="model">-->
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'country.name'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4" cdkFocusInitial>
						<span *ngIf="formErrors.name" class="validation-message">{{formErrors.name.key | translate:formErrors.name.param}}</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'capital.city.name'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.capital" name="capital">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'continent.name'| translate}}</label>
					<div class="col-sm-7">
						<p-typeahead  [(ngModel)]="model.continent" name="continent">
							<select class="form-control">
								<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
							</select>
						</p-typeahead>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label">{{'independence.date'| translate}}</label>
					<div class="col-sm-7">
						<!--<input class="form-control" matInput [matDatepicker]="picker" [(ngModel)]="myDate" value={{myDate | date:'yyyy-MM-dd'}} name="independence"--> 
						<input class="form-control" matInput [matDatepicker]="picker" [(ngModel)]="model.independence" name="independence" 
								 (focus)="picker.open()" placeholder="{{'choose.date'| translate}}">
								 <mat-datepicker #picker></mat-datepicker>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'population'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.population" type="number" name="population">
					</div>
				</div>
			<!--</div>-->
		</div>
		<div class="modal-footer" >
			<button class="btn btn-default" (click)="submit()" [disabled]="!myForm.form.valid || saving">{{'save'| translate}}</button>
			<button class="btn btn-default" (click)="close()">{{'close'| translate}}</button>
		</div>
	</form>
</div>