<div class="ribbon">
	<div class="page-title">{{'lst.country' | translate}}</div>
	<span><span style="color:red;">*</span>{{'disclaimer' | translate}} </span>
</div>
<div class="card mb-3">
	<div class="card-header" (click)="expandCollapse('#pnlBody')">{{'search.criteria' | translate}} <span *ngIf="searchLabel" class="search-cue">{{searchLabel}}</span>
		<div class="pull-right">
			<a title="{{'help' | translate}}" routerLink="/home/help" class="mr-2">
				<i class="fa fa-question-circle"></i>
			</a>
			<a role="button" data-toggle="collapse" href="#pnlBody" aria-expanded="false" aria-controls="collapseExample">
				<i class="fa toggle-expand"></i>
			</a>
		</div>
	</div>
	<div class="card-body collapse" id="pnlBody">
		<div class="row">
			<div class="col-sm-7">
				<div class="form-group row">
					<label class="col-sm-4  col-form-label">{{criteria.name.label | translate}}</label>
					<div class="col-sm-6 "><input [(ngModel)]="criteria.name.value" (keyup)="textChange($event)" class="form-control"></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4  col-form-label">{{criteria.capital.label | translate}}</label>
					<div class="col-sm-6 "><input [(ngModel)]="criteria.capital.value" (keyup)="textChange($event)" class="form-control"></div>
				</div>	
				<div class="form-group row">
					<label class="col-sm-4  col-form-label">{{criteria.continent.label | translate}}</label>
					<div class="col-sm-6 "><input [(ngModel)]="criteria.continent.value" (keyup)="textChange($event)" class="form-control"></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4  col-form-label">{{criteria.independence.label | translate}}</label>
					<div class="col-sm-6 "><input [(ngModel)]="criteria.independence.value" (keyup)="textChange($event)" class="form-control" placeholder="yyyy-mm-dd"></div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4  col-form-label">{{criteria.population.label | translate}}</label>
					<div class="col-sm-6 "><input  [(ngModel)]="criteria.population.value" (keyup)="textChange($event)" class="form-control"></div>
				</div>
				<div class="form-group row mb-0">
					<div class="col-sm-2 offset-sm-4">
						<button (click)="reloadFirstPage()" type="button" class="btn btn-default"><i class="fa fa-search"></i> {{'search' | translate}}</button>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<span>Search example:</span>
				<ul>
					<li><a [routerLink]="['../', {name:'in% | mal%'}]">Country begin with "in" or "mal"</a></li>
					<li><a [routerLink]="['../', {name:'t% %tan'}]">Country begin with "T" and ended with "tan"</a></li>
					<li><a [routerLink]="['../', {population:'..1000000'}]">Population less than a million</a></li>
					<li><a [routerLink]="['../', {population:'100000000..'}]">Population more than a hundred millions</a></li>
					<li><a [routerLink]="['../', {independence:'1991-1-1..1991-12-31'}]">Gain independence in 1991</a></li>
					<li><a [routerLink]="['../', {independence:'1991-1-1..1991-12-31', continent:'Asia'}]">Asia and gain independence in 1991</a></li>
					<li><a [routerLink]="['../', {capital:'NULL'}]">Has no capital data</a></li>
					<li><a [routerLink]="['/home/help']">more information</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div *ngIf="tableData" class="card">
	<div class="card-header">
		<p-table-helper #tableHelper
			[srvMasterData]="srvMasterData"
			[table]="myTable" 
			(sort)="onSort($event)" [templateKey]="prefix" 
			[rows]="tableData.rows"></p-table-helper>
		{{'search.result' | translate}}
		<div class="pull-right">
			<div *ngIf="canMaintain" class="btn-group p-pagination mr-1">
				<a title="{{'add' | translate}}" class="btn btn-default btn-sm" (click)="add()"><i class="fa fa-plus"></i></a>
				<button title="{{'update' | translate}}" type="button" class="btn btn-default btn-sm" (click)="edit()" [disabled]="noRowSelected"><i class="fa fa-pencil"></i></button>
				<button title="{{'delete' | translate}}" type="button" class="btn btn-default btn-sm text-danger" (click)="deleteSelected()" [disabled]="noRowSelected"><i class="fa fa-trash"></i></button>
			</div>
			<a title="{{'export' | translate}}" class="btn btn-default btn-sm mr-1" (click)="exportData()"><i class="fa fa-file-excel-o"></i></a>
			<p-pagination [paginationObject]="paginationObject" (reload)="reload()" class="ml1"></p-pagination>
		</div>
	</div>
	<div class="card-body">
		<ngx-datatable #myTable class="material" [style.height]="tableHeight"
			[reorderable]="false"
			[scrollbarV]="true"
			[scrollbarH]="true"
			[selected]="selected"
			[selectionType]="'single'"
			(select)="onSelect($event)"
			[externalSorting]="true">
			<ngx-datatable-column prop="{{'number' | translate}}" [sortable]="false">
				<ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
					{{rowIndex + 1 + paginationObject.startIndex}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="name" name="{{criteria.name.label | translate}}"></ngx-datatable-column>
			<ngx-datatable-column prop="capital" name="{{criteria.capital.label | translate}}"></ngx-datatable-column>
			<ngx-datatable-column prop="continent" name="{{criteria.continent.label | translate}}"></ngx-datatable-column>
			<ngx-datatable-column prop="independence" name="{{criteria.independence.label | translate}}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | date}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="population" [cellClass]="'number-align'" name="{{'population' | translate}}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					{{value | number:'.0-2'}}
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>
