<div class="ribbon">
	<div class="page-title">{{'city' | translate}}</div>
</div>
<div *ngIf="model" class="card">
	<div class="card-body">
		<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'continent' | translate}}</label>
				<div class="col-sm-4">
					<select class="form-control" [(ngModel)]="continent" name="continent" (ngModelChange)="getLstCountry()">
						<option value=""></option>
						<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'country' | translate}}</label>
				<div class="col-sm-4">
					<select class="form-control" [(ngModel)]="model.countryId" required name="countryId">
						<option value=""></option>
						<option *ngFor="let item of lstCountry" [value]="item.id">{{item.name}}</option>
					</select>
					<span *ngIf="formErrors.countryId" class="validation-message">{{ formErrors.countryId.key | translate:formErrors.countryId.param}}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">{{'city.name' | translate}}</label>
				<div class="col-sm-4">
					<input class="form-control" [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4">
					<span *ngIf="formErrors.name" class="validation-message">{{ formErrors.name.key | translate:formErrors.name.param}}</span>

				</div>
			</div>
			<hr>
			<div class="form-group row">
				<div class="col-sm-10 offset-sm-2">
					<button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
					<a class="btn btn-default ml-2" routerLink="../">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>
