<div class="modal-content">
	<div class="modal-header"><h4 class="modal-title"> {{'school'| translate}}</h4></div>
	<form  #myForm="ngForm">
		<div *ngIf="model" class="modal-body">
			<!--<div *ngIf="model">-->
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'scoolName'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.schoolName" name="schoolName" required maxlength="255" minlength="4" cdkFocusInitial>
						<span *ngIf="formErrors.scoolName" class="validation-message">{{formErrors.name.key | translate:formErrors.name.param}}</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'email'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.email" name="email">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'address'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.address" name="address">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-5  col-form-label">{{'cityId'| translate}}</label>
					<div class="col-sm-7">
						<input class="form-control" [(ngModel)]="model.cityId" name="cityId">
					</div>
				</div>
				
			<!--</div>-->
		</div>
		<div class="modal-footer" >
			<button class="btn btn-default" (click)="submit()" [disabled]="!myForm.form.valid || saving">{{'save'| translate}}</button>
			<button class="btn btn-default" (click)="close()">{{'close'| translate}}</button>
		</div>
	</form>
</div>