<div class="ribbon">
	<div class="page-title">Dashboard Country</div>
</div>
<div>
	<div class="card">
		<div class="card-header">Country App Seed</div>
		<div class="card-body">
			<h1>Country App Seed <a href="https://scs-demo.panemu.com/country" target="_blank">( Demo )</a></h1>
			<p>This framework was created to demonstrate an application built with Angular that interacts with an actual backend server including CRUD operations, authentication, routing, pagination, and more.</p>
			<h3>Prerequisites</h3>
			<p>What things you need to install the software?</p>
			<ul>
				<li>Node &amp; Npm (latest version is recomended)</li>
				<li>Wildfly (v10. or v12.)</li>
				<li>Maven</li>
				<li>Mysql Database</li>
			</ul>
			<h3>Database Configuration</h3>
			<p>Create Database: <br>
				<code>&nbsp; CREATE DATABASE country;</code>
			</p>
			<p>Create a user that has full access to that database:<br>
				<code>&nbsp; GRANT ALL PRIVILEGES ON country.* To 'country'@'localhost' IDENTIFIED BY 'yourpassword';</code>
			</p>
			<p>We have provided <code>country.sql</code> in the root of the project. Extract the sql file to the database using this command:<br>
				<code>&nbsp; mysql -uroot -p country &lt; country.sql</code>
			</p>
			<h3>Wildfly Configuration</h3>
			<p>Edit &lt;wildfly&gt;/standalone/configuration/standalone.xml file. Add datasource and driver parts of mysql below:</p>
			<pre><span></span><span class="nt">&lt;datasource</span> <span class="na">jta=</span><span class="s">"true"</span> <span class="na">jndi-name=</span><span class="s">"java:jboss/datasources/Country_DS"</span> <span class="na">pool-name=</span><span class="s">"Country_DS"</span> <span class="na">enabled=</span><span class="s">"true"</span> <span class="na">use-java-context=</span><span class="s">"true"</span> <span class="na">use-ccm=</span><span class="s">"true"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;connection-url&gt;</span>jdbc:mysql://localhost:3306/country<span class="nt">&lt;/connection-url&gt;</span>
    <span class="nt">&lt;driver&gt;</span>mysql<span class="nt">&lt;/driver&gt;</span>
    <span class="nt">&lt;security&gt;</span>
        <span class="nt">&lt;user-name&gt;</span>country<span class="nt">&lt;/user-name&gt;</span>
        <span class="nt">&lt;password&gt;</span>yourpassword<span class="nt">&lt;/password&gt;</span>
    <span class="nt">&lt;/security&gt;</span>
    <span class="nt">&lt;statement&gt;</span>
        <span class="nt">&lt;prepared-statement-cache-size&gt;</span>32<span class="nt">&lt;/prepared-statement-cache-size&gt;</span>
        <span class="nt">&lt;share-prepared-statements&gt;</span>true<span class="nt">&lt;/share-prepared-statements&gt;</span>
    <span class="nt">&lt;/statement&gt;</span>
<span class="nt">&lt;/datasource&gt;</span>
			</pre>
			<h3>Getting started</h3>
			<p><strong>country-web</strong> </p>
			<p>We use <a data-is-external-link="true" href="https://www.npmjs.com/" rel="nofollow">Npm</a> to manage the dependencies, so we strongly recommend you to use it. you can install it from <a data-is-external-link="true" href="https://www.npmjs.com/get-npm" rel="nofollow">Here</a>, then run <code>npm install</code> inside the <strong>country-web</strong> directory to resolve all dependencies (might take a minute).</p>
			<p>Run <code>npm start</code> for a dev server. Navigate to <code>http://localhost:4200/</code>. The app will automatically reload if you change any of the source files (front end sides).</p>
			<h3>Building the project</h3>	
			<p><strong>1. country-web</strong><br>
				<code>&nbsp; npm "run-script" "build"</code>
			</p>
			<p><strong>2. country-server</strong><br>
				<code>&nbsp; mvn clean install</code>
			</p>
			<h3>Functionality overview:</h3>
			<p>The example application is called "Countries". It uses a custom API for all requests, including authentication.
				You can view a live demo over <a href="https://scs-demo.panemu.com/country" target="_blank">https://scs-demo.panemu.com/country</a></p>
			<h3>Main Features:</h3>
			<ul>
				<li>Secure Authentication</li>
				<li>CRUD for all Module</li>
				<li>GET and display paginated lists of data</li>
				<li>Advanced Search</li>
				<li>Export data to xls format </li>
				<li>Support multiple language</li>
				<li>User friendly error handling</li>
			</ul>
			<h3>Disclaimer</h3>
			<p>Data in this application is dummy. The information might not represent actual fact.</p>

			<h3>LICENSE</h3>
			<a href="https://bitbucket.org/panemu/country-app-seed/src/master/LICENSE" target="_blank">BSD License</a>
		</div>
	</div>
</div>
<hr>
